@import "tailwindcss";

* {
  box-sizing: border-box;
}

.alladin-font {
  font-family: "Akaya Kanadaka", sans-serif;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.prompt-section::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 30px;
  background-color: rgb(0, 0, 0);
  top: -25px;
  left: 0;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
}

:root {
  --body-color: #e4e9f7;
  --sidebar-color: #222222;
  --primary-color: #925cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #dddd;
  --text-color: #fff;

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}


.navbar-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%; /* Start from the middle */
  transform: translateX(-50%); /* Center align the starting point */
  width: 0;
  height: 1px;
  transition: width 0.3s ease; /* Smooth expand + retract */
}

.navbar-link:hover::before {
  width: 100%; /* Expands equally in both directions */
}
